html * {
  font-family: 'Barlow Condensed';
}

body {
  margin: 0;
  padding: 0;
}

/* Default styles for side-menu (desktop) */
.side-menu {
  background-color: #f0eceb;
  width: 15%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
}

.logo {
  width: 80%;
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu-item {
  width: 80%;
  height: auto;
  margin-bottom: 5%;
}

/* Styles for the menu items container */
.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1; /* Allow this container to grow and push social icons to the bottom */
}

/* Styles for the social icons container */
.social-icons {
  display: flex;
  justify-content: center; /* Spacing between Instagram and Twitter icons */
  width: 80%; /* Adjust the width as needed */
  margin-bottom: 5px; /* Center the social icons horizontally */
}

/* Style for the Instagram icon */
.menu-item.instagram {
  /* Add styling specific to the Instagram icon, such as width and height */
  width: auto; /* Adjust the width as needed */
  height: 40px;
  margin-right: 25px;
}

/* Style for the Twitter icon */
.menu-item.email {
  /* Add styling specific to the Twitter icon, such as width and height */
  width: auto; /* Adjust the width as needed */
  height: 40px;
}


/* Styles for the top bar menu */
.top-bar {
  background-color: #f0eceb;
  display: none;
  flex-direction: row; /* Arrange elements horizontally */
  align-items: center; /* Center items vertically */
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

/* Styles for the hamburger menu icon */
.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
}

.bar {
  background-color: #000; /* Hamburger bar color */
  height: 3px; /* Height of each bar */
  width: 100%; /* Full width */
  border-radius: 2px; /* Rounded corners for bars */
}

/* Styles for the top bar items (blocks) */
.top-bar-items {
  display: none; /* Initially hide the items */
  position: absolute;
  top: 80px; /* Adjust the distance from the top as needed */
  background-color: #f0eceb;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  width: 100%;
  right: 0; /* Align items to the right */
}

.top-bar-items.active {
  display: flex; /* Display the items when the active class is applied */
}

.top-bar-item {
  text-decoration: none;
  color: #000;
  text-align: center; /* Center text horizontally within the items */
  margin-bottom: 10px; /* Adjust the spacing between items */
  width: 100%; /* Set item width to 100% */
}

/* Styles for the top bar logo */
.top-bar-logo {
  margin-right: auto; /* Pushes the logo to the left */
}

.top-bar-logo img {
  max-height: 80px; /* Adjust the logo's height as needed */
  /* You can also add other styling as needed for the logo */
}




.cb-slideshow {
  position: fixed;
  top: 0;
  /* Adjust the left offset to match the width of the side menu */
  width: 100%;
  /* Subtract the side menu width from the total width */
  height: 100%;
  z-index: -1;
}

.cb-slideshow span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: imageAnimation 18s linear infinite 0s;
}

.cb-slideshow span:nth-child(1) {
  background-image: url(assets/main_page_background/image0.jpeg);
  animation-delay: 0s;
}

.cb-slideshow span:nth-child(2) {
  background-image: url(assets/main_page_background/image1.jpg);
  animation-delay: 6s;
  /* Adjusted delay to overlap with the previous image */
}

.cb-slideshow span:nth-child(3) {
  background-image: url(assets/main_page_background/image2.jpg);
  animation-delay: 12s;
  /* Adjusted delay to overlap with the previous image */
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  17% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 40px;
  break-inside: avoid;
}

figure>img {
  grid-row: 1 / -1;
  grid-column: 1;
  border-radius: 5%;
}

figure a {
  color: black;
  text-decoration: none;
}

.gallery {
  margin-top: 10px;
  margin-left: 16%;
  column-count: 3;
  column-gap: 25px;
}

.image_preview:hover {
  opacity: 0.7;
}

preview-figure img {
  border-radius: 0% !important;
}

.main {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 15%;
  background-image: url(assets/who_am_i/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  position: absolute;
  top: 65%; /* Position the text at the center vertically */
  left: 60%; /* Position the text at the center horizontally */
  transform: translate(-50%, -50%); /* Center the text precisely */
  width: 50%;
  text-align: center;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url(assets/fonts/Coming_Soon/ComingSoon-Regular.ttf);
}

p {
  font-family: "Barlow Condensed";
  font-size: 2.5em;
  margin-bottom: 1em;
}


/* Media query for screens 768px or less */
@media screen and (max-width: 768px) {
  .cb-slideshow span:nth-child(1) {
    background-image: url(assets/main_page_background/mobile/image0.jpg);
    animation-delay: 0s;
  }
  
  .cb-slideshow span:nth-child(2) {
    background-image: url(assets/main_page_background/mobile/image1.jpg);
    animation-delay: 6s;
    /* Adjusted delay to overlap with the previous image */
  }
  
  .cb-slideshow span:nth-child(3) {
    background-image: url(assets/main_page_background/mobile/image2.jpg);
    animation-delay: 12s;
    /* Adjusted delay to overlap with the previous image */
  }

  /* Hide side-menu on smaller screens */
  .side-menu {
    display: none;
  }

  /* Display mobile-menu on smaller screens */
  .top-bar {
    display: flex;
    /* Add styles for the mobile menu here */
  }

  /* Override the styles for .gallery on smaller screens */
  .gallery {
    margin-left: 5%; /* Change the left margin to 0 */
    margin-right: 5%; /* Change the left margin to 0 */
    column-count: 2; /* Adjust the number of columns */
    column-gap: 15px; /* Adjust the column gap */
  }

  /* Override the positioning styles for .text on smaller screens */
  .text {
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the text precisely */
    width: 80%; /* Adjust the width as needed for mobile */
  }

  p {
    font-size: 1.5em;
  }
}